<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<span>
  <%= link "List Tasks", to: Routes.task_path(@conn, :index) %>
</span>
